<div class="container">
    <!-- <img src="https://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG42.png" alt=""> -->
    <h1>What is this?</h1>
    <h3>Do you have trouble remembering names, but are great at remembering faces? Me too. That is why I created this
        web app. Everything is click based, so if you are interested in seeing all the characters from the Star Wars
        films, click the characters category. After that, simply click on any picture to learn more about that
        character's physical characteristics, related films, planets, vehicles, etc.</h3>
    <h1>Why is there unknown info?
    </h1>
    <h3>This app utilizes the Star Wars API, so the information displayed in this app will be updated as the API is
        updated. I will be making other updates here and there, so check back often. In the future, I look to include a
        short bio for each character.</h3>
</div>